# Getting Data

To decide which fee structure is better for the airport we need historical data of airplane arrivals and delays. The data contains arrival information for October, 2018

In [1]:
import urllib.request
import shutil
import pandas as pd

In [2]:
# Download the file
DATA_URL = "https://github.com/BayesianModelingandComputationInPython/BookCode_Edition1/raw/main/data/948363589_T_ONTIME_MARKETING.zip"
FILE_NAME = "../data/948363589_T_ONTIME_MARKETING.zip"
with urllib.request.urlopen(DATA_URL) as response, open(FILE_NAME, 'wb') as out_file:
    shutil.copyfileobj(response, out_file)

In [3]:
DATA_PATH = "../data/948363589_T_ONTIME_MARKETING.zip"
df = pd.read_csv(DATA_PATH)

C:\Users\Mostafa\AppData\Local\Temp\ipykernel_20616\2726963897.py:2: DtypeWarning: Columns (11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(DATA_PATH)

In [4]:
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,BRANDED_CODE_SHARE,MKT_CARRIER_AIRLINE_ID,MKT_CARRIER,...,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,ARR_DELAY_GROUP,ARR_TIME_BLK,CANCELLED,CANCELLATION_CODE,DIVERTED,DUP,Unnamed: 60
0,2018,4,10,18,4,2018-10-18,UA,UA,19977,UA,...,6.0,6.0,0.0,0.0,1100-1159,0.0,NaN,0.0,N,NaN
1,2018,4,10,18,4,2018-10-18,UA,UA,19977,UA,...,-21.0,0.0,0.0,-2.0,2100-2159,0.0,NaN,0.0,N,NaN
2,2018,4,10,18,4,2018-10-18,UA,UA,19977,UA,...,10.0,10.0,0.0,0.0,1900-1959,0.0,NaN,0.0,N,NaN
3,2018,4,10,18,4,2018-10-18,UA,UA,19977,UA,...,-10.0,0.0,0.0,-1.0,0900-0959,0.0,NaN,0.0,N,NaN
4,2018,4,10,18,4,2018-10-18,UA,UA,19977,UA,...,-10.0,0.0,0.0,-1.0,1300-1359,0.0,NaN,0.0,N,NaN

The data has multiple columns but we are interest in a subset for this exercise: 

|Column|Desciption|
|:---|:---|
|ORIGIN| flight start airport|
|DEST|flight arrival airport|
|ARR_DELAY| arrival delay in minutes. A negative value means the flight arrived early.|

let's filter the data for only **Madison** arrivals from **Minneapolis** and **Detroit**

In [5]:
msn_arrivals = df[(df["DEST"] == "MSN") & df["ORIGIN"].isin(["MSP", "DTW"])]["ARR_DELAY"]

In [6]:
msn_arrivals.head()

39611   -14.0
41697     1.0
41826    10.0
41858   -15.0
43978   -19.0
Name: ARR_DELAY, dtype: float64

## Save Data Locally

In [8]:
msn_arrivals.to_csv("../data/msn_arrivals.csv", index=False)